<h2>User info</h2>
  <%= attachment_image_tag user,:profile_image, size:'70x70', format:'jpeg',fallback:"no_image.jpg" %>
<table class="table">
  <tbody>
    <tr></tr>
    <tr>
      <th>name</th>
      <th><%= user.name %></th>
    </tr>
    <tr>
      <th>introduction</th>
      <th><%= user.introduction %></th>
    </tr>
    <tr>
      <th>follows</th>
      <th><%= link_to user.followings.count, user_followings_path(user.id) %></th>
    </tr>
    <tr>
      <th>followers</th>
      <th><%= link_to user.followers.count, user_followers_path(user.id) %></th>
    </tr>
  </tbody>
</table>
<div class="row mx-auto">
  <% if user != current_user %>
    <% if current_user.following?(user) %>
      <%= link_to "unfollow", user_relationships_path(user.id), class:"btn btn-sm btn-info", method: :delete %>
    <% else %>
      <%= link_to "follow", user_relationships_path(user.id), class:"btn btn-sm btn-success", method: :post %>
    <% end %>
  <% else %>
    <%= link_to"" ,edit_user_path(user),class: "btn btn-outline-secondary btn-block fas fa-user-cog" %>
  <% end %>
</div>